#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

h1 {
    grid-column: 1/3;
    padding-left: 23cm;
}
.christmas0 {
    grid-row: span 2;
    width: 100%;
    height: 100%;
}
.christmas1 {
    width: 100%;
    height: 100%;
}
.christmas2 {
    width: 100%;
}
.christmas3 {
    width: 100%;
    height: 100%;
}
.christmas4 {
    width: 100%;
}
.christmas5 {
    width: 100%;
}
.christmas6 {
    width: 100%;
    height:100%;
}
.christmas7 {
    width: 100%;
    height:100%;
}
.christmas8 {
    grid-row: span 2;
    width: 100%;
    height:100%;
}
.christmas9 {
    width: 100%;
    height:100%;
}
.christmas10 {
    width: 100%;
    height:100%;
}
p {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.druk {
    color: red;
    font-size: 300%;
}
